<nav class="navbar fixed-top navbar-dark bg-dark " data-bs-theme="dark">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">MyIMDB</h1>
    <div class="d-flex">
      <!-- <input type="text" class="form-control" placeholder="search Movies here" aria-label="search"> -->
      <form class="d-flex" role="search" [formGroup]="formValue">
        <input class="form-control me-2" type="text" formControlName="MovieName" #search id="MovieName" placeholder="Search MovieName" aria-label="Search" [(ngModel)]="term">
        <button class="btn btn-outline-info" for="MovieName"  (click)="SearchMovieName()" type="search">Search</button>
      </form>
    </div>


    <!-- <div class="d-flex">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <button type="button" data-bs-toggle="modal" data-bs-target="#MovieModel"
          class="btn btn-info">Demo</button>
        </li>
        </ul>
    </div> -->

    
    
    
    <div class="d-flex">
      <button style="color:aliceblue;" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
        Menu
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Admin</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <button (click)="clickAddMovie()"type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
              class="btn btn-info">Add Movie</button>
            </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Add Movie details -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Movie Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <form #movieform ="ngForm">
        
              <div class="mb-3">
                  <label for="moviename" class="form-label">MovieName</label>
                  <input type="text" class="form-control" [(ngModel)]="MovieName" placeholder="MovieName" name ="moviename" #moviename = "ngModel" id="moviename" required>
                  <div class="form-text text-danger" *ngIf="moviename.errors?.['required'] && (moviename.touched || moviename.dirty)">Movie Name is Required*</div>
                </div>

                <div class="mb-3">
                  <label for="yearofrelease" class="form-label">YearOfRelease</label>
                  <input type="number" oninput="validity.valid||(value='');" class="form-control" [(ngModel)]="YearOfRelease" placeholder="Ex:2001" name ="yearofrelease" #yearofrelease ="ngModel" id="yearofrelease"pattern="^\d{4}$" minlength="1" maxlength="4" required>
                <div class="form-text text-danger" *ngIf="yearofrelease.errors?.['required'] && (yearofrelease.touched || yearofrelease.dirty)">Please Enter year</div>
                <div class="form-text text-danger" *ngIf="yearofrelease.errors?.['maxlength'] && (yearofrelease.touched || yearofrelease.dirty)">
                  Check the Year*
                </div>
                <div class="form-text text-danger" *ngIf="yearofrelease.errors?.['minlength'] && (yearofrelease.touched || yearofrelease.dirty)">
                  Check the Year*
                </div>
                <div class="form-text text-danger" *ngIf="yearofrelease.errors?.['pattern'] && (yearofrelease.touched || yearofrelease.dirty)">
                  Check the Year*
                </div>
                </div>
              <div class="mb-3">
                <label for="shortdescript" class="form-label">ShortDescript</label>
                <input type="text" class="form-control" [(ngModel)]="ShortDescript" name ="shortdescript" placeholder="Describe Shortly" #shortdescript ="ngModel" id="shortdescript" required>
                <div class="form-text text-danger" *ngIf="shortdescript.errors?.['required'] && (shortdescript.touched || shortdescript.dirty)">Please Describe</div>
              </div>
              <div class="mb-3">
                  <label for="image" class="form-label">Image URL</label>
                  <input type="url" class="form-control" [(ngModel)]="UrlImage" name ="Image" placeholder="https://example.com" #Image ="ngModel" id="Image" pattern="https://.*" required>
                  <div class="form-text text-danger" *ngIf="Image.errors?.['required'] && (Image.touched || Image.dirty)">Enter the URL</div>
                  <div class="form-text text-danger" *ngIf="Image.errors?.['pattern'] && (Image.touched || Image.dirty)">*Check the Url</div>

                </div>
                <div class="mb-3">
                  <label for="director" class="form-label">Director</label>
                  <input type="text" class="form-control"[(ngModel)]="Director" name ="director" placeholder="Director Name" #director ="ngModel" id="director"  pattern="[a-zA-Z]+" required>
                  <div class="form-text text-danger" *ngIf="director.errors?.['required'] && (director.touched || director.dirty)">Please Enter the Director Name</div>
                  <div class="form-text text-danger" *ngIf="director.errors?.['pattern'] && (director.touched || director.dirty)">Name Must Be Letters</div>

                </div>
                <div class="mb-3">
                  <label for="producer" class="form-label">Producer</label>
                  <input type="text" class="form-control"[(ngModel)]="Producer" name ="producer" placeholder="Producer Name" #producer ="ngModel" id="producer"  pattern="[a-zA-Z]+" required >
                  <div class="form-text text-danger" *ngIf="producer.errors?.['required'] && (producer.touched || producer.dirty)">Please Enter the Producer Name</div>
                  <div class="form-text text-danger" *ngIf="producer.errors?.['pattern'] && (producer.touched || producer.dirty)">Name Must Be Letters</div>

                </div>
                <div class="mb-3">
                  <label for="actors" class="form-label">Actors</label>
                  <input type="text" class="form-control" [(ngModel)]="Actors" name ="actors" placeholder="Actor Name" #actors ="ngModel" id="actors" pattern="[a-zA-Z]+" required>
                  <div class="form-text text-danger" *ngIf="actors.errors?.['required'] && (actors.touched || actors.dirty)">Please Enter the Actors Name</div>
                  <div class="form-text text-danger" *ngIf="actors.errors?.['pattern'] && (actors.touched || actors.dirty)">Actor Name Must Be Letters</div>

                </div>
                <div class="mb-3">
                  <label for="story" class="form-label">Story</label>
                  <input type="text" class="form-control" [(ngModel)]="Story" name ="story" placeholder="Story" #story ="ngModel" id="story" minlength="100" required >
                  <div class="form-text text-danger" *ngIf="story.errors?.['required'] && (story.touched || story.dirty)">Please Enter the Story</div>
                  <div class="form-text text-danger" *ngIf="story.errors?.['minlength'] && (story.touched || story.dirty)">Please Enter the Full Story</div>

                </div>
                <div class="mb-3">
                  <label for="rating" class="form-label">Rating</label>
                  <input type="number" oninput="validity.valid||(value='');" class="form-control"[(ngModel)]="Rating" placeholder="Ex:4" name ="rating" #rating ="ngModel" id="rating" pattern="^\d{1}$" maxlength="5" required>
                  <div class="form-text text-danger" *ngIf="rating.errors?.['required'] && (rating.touched || rating.dirty)">Rating Must*</div>
                  <div class="form-text text-danger" *ngIf="rating.errors?.['pattern'] && (rating.touched || rating.dirty)">
                    Rating Must Be  Single Digit*
                  </div>
                  <div class="form-text text-danger" *ngIf="rating.errors?.['maxlength'] && (rating.touched || rating.dirty)">
                    Rating Must Be Below Five Number*
                  </div>
                </div>
                <div class="mb-3">
                  <label for="commends" class="form-label">Comments</label>
                  <input type="text"  class="form-control" [(ngModel)]="Commends" placeholder="Comments" name ="commends" #commends ="ngModel"id="commends"  required >
                  <div class="form-text text-danger" *ngIf="commends.errors?.['required'] && (commends.touched || commends.dirty)">Comments Must*</div>
                  <div class="form-text text-success" *ngIf="commends.valid">Thanks for Comments*</div>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" [disabled]="!(movieform.valid && movieform.dirty)" (click)="postAllMovieDetails()" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- End -->
<!-- [disabled]="!(formValue.valid && formValue.dirty)" -->




<!-- <div class="modal-body">
  <form [formGroup]="formValue" class="was-validated">

      <div class="mb-3">
          <label for="MovieModel" class="form-label">MovieName</label>
          <input type="text" formControlName="moviename" class="form-control" id="MovieModel" aria-describedby="emailHelp" required>
          <div class="invalid-feedback">Please Enter The Movie Name*</div>

        </div>
        <div class="mb-3">
          <label for="MovieModel" class="form-label">YearOfRelease</label>
          <input type="number" formControlName="yearofrelease" class="form-control" id="MovieModel" aria-describedby="emailHelp" required>
        <div class="invalid-feedback">Please Enter year</div>
        </div>
      <div class="mb-3">
        <label for="MovieModel" class="form-label">ShortDescript</label>
        <input type="text" formControlName="shortdescript" class="form-control" id="MovieModel"aria-describedby="validationServer05Feedback" required aria-describedby="emailHelp">
        <div class="invalid-feedback">Please Describe</div>
      </div>
      <div class="mb-3">
          <label for="MovieModel" class="form-label">Image URL</label>
          <input type="text" formControlName="image" class="form-control" id="MovieModel" aria-describedby="emailHelp" required>
          <div class="invalid-feedback">Enter the URL</div>
        </div>
        <div class="mb-3">
          <label for="MovieModel" class="form-label">Director</label>
          <input type="text" formControlName="director" class="form-control" id="MovieModel"aria-describedby="validationServer05Feedback" required aria-describedby="emailHelp">
          <div class="invalid-feedback">Please Enter the Director Name</div>
        </div>
        <div class="mb-3">
          <label for="MovieModel" class="form-label">Producer</label>
          <input type="text" formControlName="producer" class="form-control" id="MovieModel"aria-describedby="validationServer05Feedback" required aria-describedby="emailHelp">
          <div class="invalid-feedback">Please Enter the Producer Name</div>
        </div>
        <div class="mb-3">
          <label for="MovieModel" class="form-label">Actors</label>
          <input type="text" formControlName="actors" class="form-control" id="MovieModel"aria-describedby="validationServer05Feedback" required aria-describedby="emailHelp">
          <div class="invalid-feedback">Please Enter the Actors Name</div>
        </div>
        <div class="mb-3">
          <label for="MovieModel" class="form-label">Story</label>
          <input type="text" formControlName="story" class="form-control" id="MovieModel"aria-describedby="validationServer05Feedback" required aria-describedby="emailHelp">
          <div class="invalid-feedback">Please Enter the Full Story</div>
        </div>
        <div class="mb-3">
          <label for="MovieModel" class="form-label">Rating</label>
          <input type="number" formControlName="rating" class="form-control" id="MovieModel"aria-describedby="validationServer05Feedback" required aria-describedby="emailHelp">
          <div class="invalid-feedback">Rating Must*</div>
        </div>
        <div class="mb-3">
          <label for="MovieModel" class="form-label">Commends</label>
          <input type="text" formControlName="commends" class="form-control" id="MovieModel"aria-describedby="validationServer05Feedback" required aria-describedby="emailHelp">
          <div class="invalid-feedback">Commands Must*</div>
        </div>
    </form>
</div>
<div class="modal-footer">
<button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<button type="button" [disabled]="!(formValue.valid && formValue.dirty)"  class="btn btn-primary">Add</button>
</div> -->





<div class="container py-5">



  <div class="row" style="padding-top: 50px;">


    <div class="col-2" *ngFor="let row of movieData | filter: term">

      <div class="card mb-4" (click)="onEdit(row)">

        <img style="height: 210px;" src="{{row.image}}" class="card-img-top" />

        <div class="card-body">

          <div class="d-flex justify-content-between mb-3">
            <h5 id="movieNameInline" class="text-dark mb-0">{{row.MovieName}}</h5>
          </div>



          <div class="d-flex justify-content-between mb-3">
            <h5 class="text-dark mb-0">{{row.YearOfRelease}}</h5>
          </div>

          <div style="font-size: small;font-style:italic;" class="d-flex justify-content-between">
            <span class="badge text-bg-info" style="font-size: 11px;">
              {{row.ShortDescript}}
             <!-- <p class="small"><a class="text-muted">{{row.shortDescript}}</a></p>  -->
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>